.sidebar
  %img{src: "images/me.png", width: "60", class: 'thumbnail'}
  .title
    About Me
  .content
    I am a soon-to-be graduate of the University of Chicago Laboratory Schools and I will be concentrating in Computer Science at Brown University in the Fall. In my free time I read, hang out with my friends, play my harp, entertain my cats and program. I'm currently shadowing Kunal Bhat at dscout and I'm really enjoying it!

- @posts.each do |post|
  .post
    .date= "#{post.datetime.to_date.month}/#{post.datetime.to_date.day}/#{post.datetime.to_date.year}"
    .title
      %a{href: "/post/#{post.id}"}= post.title
    .picture
      %img{src:"#{post.image}"} 
    .content= post.content
    / %form{action: "/post/#{post.id}/edit", method: "get"}
    /   %input{type: 'submit', value: 'Edit', class: 'button'}
    / %form{action: "/post/#{post.id}", method: "post"}
    /   %input{type: 'submit', name: "_method", value: 'delete', class: 'button'}
    /   %input{type: 'hidden', value: '_method', method: 'delete'}

%script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
:javascript
    $(window).load(function(){
      $('content').removeClass
    });





