- $pagetitle = "Post id: #{@post.id}"
.post
  .date= post.formatted_date
  .title #{@post.title} 
  .picture
    %img{src:"#{@post.image}"} 
  .content #{@post.content}
  / %form{action: "/post/#{@post.id}/edit", method: "get"}
  /   %input{type: 'submit', name: "_method", value: 'edit', class: 'button'}
  / %form{action: "/post/#{@post.id}", method: "post"}
  /   %input{type: 'submit', name: "_method", value: 'delete', class: 'button'}
  /   %input{type: 'hidden', value: '_method', method: 'delete'}
